.contents{
  margin: 0 auto;
  padding: 0 2.5em;
  overflow: hidden;
  max-width: 32em;
}

.footers{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-image: url(img/sea-shore-ocean-during-sunset-hg.jpg);
  background-size: auto, auto;
}
